<h1>Need Music?</h1>
<p class='lead'>Use Spotify Searcher to browse new releases and find your next favorite song!</p>


<form name="searchForm">
    <div class='form-group'>
      <input class='form-control' type="text" placeholder='Search for music...' name="searchStr" [(ngModel)]='searchStr' (keyup)="searchMusic()">
    </div>
    <br>
</form>

<div *ngIf='searchRes'>
  <div *ngFor='let res of searchRes'>
    <div class = 'row'>
      <div class='col-md-12'>
        <div class='search-res well'>
          <h4>{{res.name}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
